/*  COLORS */
$black: #272727;
$purple: #800080;
$gray: #7e7a7a;
$white: #f8f8f8;
$red: #b70000;
$background: #ccdfde;
$gray-50: rgba(126, 122, 122, 0.5);

/* SİZE*/
$heigt: 44px;
$inputButtonWidth: 200px;
